
.ant-pagination-next {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    height: 34px;
  }
  .ant-pagination-prev {
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    height: 34px;
  }
  .ant-pagination-item {
    border-radius: 4px;
    border: 1px solid #d9d9d9 !important;
  }